html,body{
  height: 100%;
}
.cover{
  height: 100%;
  width: 100%;
  background: url('../img/cover.jpg');
  background-size: cover;
}
.title{
  position: absolute;
  font-size: 50px;
  font-family: '微软雅黑';
  color: #fff;
}